<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restAll}}
        <a href="/view/{{this.id}}" class="text-secondary">
          <div class="card mb-3">
            <div class="card-body">
              <h6 class="card-title mb-1" style="display: inline;">{{this.name}}</h6>
              <span class="badge badge-pill badge-danger font-weight-normal float-right">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <div class="restaurant-category mb-1" style="display: inline">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
                {{!-- <a href="#">
                    <span class="badge badge-secondary float-right ml-2">Delete</span>
                  </a> --}}
                {{!-- 測試動態視窗modal --}}
                <!-- Button trigger modal -->
                {{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Launch demo modal
                  </button> --}}

                <a href="#" data-toggle="modal" data-target="#delete{{this.id}}">
                  <span class="badge badge-secondary float-right ml-2">Delete</span>
                </a>

                <!-- Modal -->
                <div class="modal fade" id="delete{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteRest"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteRest">刪除「{{this.name}}」</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-4">
                            <img src="{{this.image}}" class="img-thumbnail rounded float-left mx-auto"
                              style="height: 100px;">
                          </div>
                          <div class="col">
                            <h5>{{this.name}}</h5>
                            <p><i class="fas fa-utensils pr-2"></i>{{this.category}}</p>
                            <p class="mr-3">{{this.description}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <form action="/view/{{{this.id}}}/delete" method="POST"></form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="submit" class="btn btn-danger">確認刪除</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>


                {{!-- 修改按鈕 --}}
                <a href="/view/{{{this.id}}}/edit">
                  <span class="badge badge-info float-right">Edit</span>
                </a>
              </div>
            </div>
          </div>
        </a>

        {{/each}}
      </div>
    </div>
  </div>
</div>